@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: "ProximaNova", sans-serif
	overflow-x: hidden
	color: $header

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	margin: 0
	padding: 0
	color: $header

h2, .h2
	font-size: 48px

ul, li, p
	padding: 0
	margin: 0

a, a:focus, a:active
	color: $accent
a:hover
	color: $accent
	text-decoration: underline

.button
	display: inline-block
	border: #dfc691 1px dashed
	font-family: "Alegreya", sans-serif
	font-weight: bold
	color: #dfc691
	text-decoration: none
	background-color: #fff
	padding: 12px 30px
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 0.5px
	border-radius: 0
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

.button-head
	background-color: rgba($header, .53)
	padding: 7px 50px
	color: #ffffff
	font-size: 14px
	letter-spacing: 3px
	border-color: #9e9c93
	&:hover
		background-color: $header

.button-trans
	background-color: transparent
	padding: 8px 70px
	color: $accent
	border-color: #9e9c93

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.site-header
	min-height: 900px
	height: 100vh
	background-image: url(../img/bg-1.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	position: relative

.logo
	font-family: "Scriptina", sans-serif
	text-align: center
	font-size: 30px
	line-height: 70px
	letter-spacing: 3px
	a
		color: #ffffff
		transition: opacity .5s ease
		&:hover, &:focus
			text-decoration: none
			opacity: .7

.top-line
	background-color: rgba($header, .53)
	position: absolute
	width: 100%
	z-index: 2
.header-menu
	ul
		li
			display: inline-block
			padding: 30px 30px
			font-family: "Alegreya", sans-serif
			text-transform: uppercase
			position: relative
			letter-spacing: 3px
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
			&::after
				content: "~"
				position: absolute
				right: -5px
				top: 30px
				color: #fff
			&:last-child
				&::after
					content: ""

			a
				color: #ffffff


.header-social
	position: relative
	.soc
		ul
			li
				display: inline-block
				list-style-type: none
				margin-right: 30px
				margin-top: 24px
				.fa
					color: #ffffff
					font-size: 15px
					padding: 10px 0
					transition: opacity .5s ease
					&:hover
						opacity: .7

.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0
	.flex-center
		margin: auto
		.header-composition
			text-align: center
			position: relative
			h1
				font-size: 92px
				color: #ffffff
				letter-spacing: 0.75px
				font-family: "PlayFairDisplay", sans-serif
				position: relative
				margin-bottom: 110px
				&::after
					content: ''
					width: 200px
					background-image: url(../img/dashed_line.png)
					position: absolute
					height: 14px
					left: 39%
					bottom: -56px
					background-repeat: no-repeat
			p
				color: #ffffff
				font-size: 24px
				font-family: "ProximaNova", sans-serif
				letter-spacing: 1px
				margin-bottom: 60px
				line-height: 36px
				padding:
					left: 120px
					right: 120px


//Mobile menu
.hamburger
	position: absolute
	display: none
	top: 12px
	right: 10px
	z-index: 10
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	background-color: #fff
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before
	background-color: #fff
.mm-navbar
	position: relative
	border: none
	.mm-navbar__title
		padding: 0
		.logo
			color: #ffffff
			line-height: 40px
			margin-bottom: 20px
.mm-panel::after, .mm-panel::before
	height: 0

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin: 0

html.mm-opened
	overflow-y: scroll
.mm-panels > .mm-panel.mm-hasnavbar
	right: -18px

.mm-listitem::after
	display: none
.mm-panels, .mm-panels > .mm-panel
	top: -15px

.mm-panel
  padding:
    left: 0
    right: 0
.mm-listview
	> li
		> a
			font-size: 18px
			padding:
				left: 10%
				right: 10%
				top: 5px
			&::before
				content: '\f005'
				font-family: 'FontAwesome'
				margin-right: 20px
				color: #ffffff
		&.active
			&>a
				color: $accent
.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin-top: 30px

//END MOBILE MENU//

@import "media" // Всегда в конце
